# Окружение (самое важное)
.env

# Виртуальное окружение
venv/
ENV/
env/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и база данных (если используешь SQLite)
*.log
*.sqlite3

# Папки редакторов
.vscode/
.idea/